@using Portal3.Models
@model IEnumerable<Portal3.Models.drkpDepartment>

<script>

function my_f(objName) {
    var objects = document.getElementsByClassName(objName);
    for (var i = 0, cnt = objects.length; i < cnt; i++)
    {
        objects[i].style.display = (objects[i].style.display == 'none') ? 'block' : 'none'
        }
}
</script>

@helper BuildMenu(IEnumerable<drkpDepartment> data, int? parentID = null, string isVisible = "inline-block", int? DepClass = 0)
{
var items = data.Where(d => d.ParentID == parentID).OrderBy(i => i.DepOrder);
if (items.Any())
{
   <div class="@DepClass" style="display:@isVisible;" >
       <ul>
           @foreach (var item in items)
           {

               <li style="list-style-type:none;">
                   <p class="TreeStyle" onclick="my_f(@item.ID)">@item.DepartmentName</p>

                   <ul class="@item.ID" style="display:none" >
                       @foreach (drkpStaffList st in item.drkpStaffList)
                       {
                           <li style="list-style-type:none;">
                               <div class="Employee">
                                   @if (st.UserID != null)
                                   { @st.cmnUser.FullNameEn}
                                   else
                                   {@st.StaffCode }
                               </div>
                               <div class="EmpMenu">
                                   <a>ывмотцум</a>
                               </div>
                           </li>
                       }
                   </ul>

                   @if (item.ID != 20) { isVisible = "none"; }
            else { isVisible = "block"; }

                   @BuildMenu(data, item.ID, isVisible, item.ID)
               </li>

           }
       </ul>
   </div>
}
}
<div style="display:inline-block;">
    @BuildMenu(Model)
</div>








